{   margin: 0;
    padding: 0;
    box-sizing: content-box;

.container{
    width: 75%;
    margin: 0 ;
h1}
    border: 2px solid black;

    margin-top 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-left: 100px;

    margin: 100px 50px  
    width: 150px;
}